<mat-toolbar class="search-container" color="primary">
    <mat-toolbar-row>
        <span class="logo" routerLink="/">NgVGD
            <span class="example-spacer1"></span>
        </span>

          <mat-form-field class="search-form" ngForm #form (ngSubmit)="onSubmit(form)" appearance="fill">
            <input matInput
            class="search-input" 
            name="search"
            ngModel
            placeholder="Search 500,000+ games"
            />
            <button mat-raised-button color="accent">Search</button>
          </mat-form-field>

      <span class="example-spacer2"></span>
      <button mat-icon-button class="menu" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
