<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>NgVGD
            <span class="example-spacer1"></span>
        </span>

      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
        <button mat-raised-button color="accent">Search</button>
      </mat-form-field>

      <span class="example-spacer2"></span>
      <button mat-icon-button class="menu" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
